<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <table id="example" class="table table-striped" style="width:100%">
            <h3 align="center">My Booking List</h3>
            <a href="/book/list" class="btn btn-primary">Book List</a>&nbsp;
            <a href="/category/list" class="btn btn-primary">Category List</a>&nbsp;
            <a href="/" class="btn btn-secondary">Home</a>&nbsp;
            <a href="" class="btn btn-info">My Bookings</a>
            <div class="container">
            <br/>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Book Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                {{range .Booking}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.BookName}}</td>
                    <td>{{.Start_time}}</td>
                    <td>{{.End_time}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>