<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</head>
<body>
    <div class="container">
        <table id="example" class="table table-striped" style="width:100%">
            <h3 align="center">Categories Table</h3>
            <a href="/category/create" class="btn btn-primary">Create Category</a>&nbsp;
            <a href="/book/list" class="btn btn-primary">Book list</a>&nbsp;
            <a href="/" class="btn btn-secondary">Home</a>
            <div class="container">
            <br/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" action="/category/search" method="post">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" name="search">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Categories}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Name}}</td>
                        <td>{{if eq .Status true}}
                                <div style="color: green;">Active</div>
                            {{else}}
                                <div style="color: red;">Inactive</div>
                            {{end}}
                        </td>
                        <td>
                            <a href="/category/{{.ID}}/edit" class="btn btn-info">Edit</a>
                            <a href="/category/{{.ID}}/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>