<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="/book/{{.Book.ID}}/update" method="post">
            <h3 align="center">Book Form</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="category_id">Categories</label>
                        <select class="form-control" name="category_id" id="category_id">
                            {{range .Category}}
                                <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
            </div>
            <p class="text-danger">{{.Errors.Category_id}}</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="book_name">Book Name</label>
                        <input type="text" class="form-control" name="book_name" id="book_name" value="{{.Book.Book_name}}">
                    </div>
                </div>
            </div>
            <p class="text-danger">{{.Errors.Book_name}}</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="book_name">Author Name</label>
                        <input class="form-control" type="text" name="AuthorName" value="{{.Book.AuthorName}}">
                    </div>
                </div>
            </div>
            <p class="text-danger">{{.Errors.AuthorName}}</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="book_name">Details</label>
                        <input class="form-control" type="text" name="Details" value="{{.Book.Details}}">
                    </div>
                </div>
            </div>
            <p class="text-danger">{{.Errors.Details}}</p>
            <input type="hidden" id="status" value="{{.Book.Status}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status" id="selectStatus" class="form-control">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
<!-- status dropdown js -->
<script>
    var select = document.getElementById('selectStatus');
    var status = document.getElementById('status').value;
    var option;

    for (var i=0; i<select.options.length; i++) {
        option = select.options[i];

        if (option.value == status) {
            option.setAttribute('selected', true);
        } 
    }
</script>
</html>